@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p style="width:500px; height:50px; line-height:50px; font-size:30px; margin-left:20px;">欢迎使用9000home后台管理系统</p>